:root {
  --color-primario-1: #F3C86D;
  --color-primario-2: #555350;
  --color-secundario-1: #faebd7;
  --color-secundario-2: #d2b48c;
  --fuente-primaria: 'Sulphur Point', sans-serif;
  --fuente-secundaria: 'Arapey', serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: var(--fuente-secundaria);
}
body {
  background-color: var(--color-secundario-1);
}
/* Textos */
h1, h2, h3, h4 {
  font-family: var(--fuente-primaria);
  color: var(--color-primario-2);
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.7rem;
}
p, i {
  color: var(--color-primario-2);
  line-height: 2.5rem;
}
footer a {
  color: var(--color-primario-1);
}
.main-bg ~ p {
  width: 80%;
  margin: 2rem auto;
  text-align: center;
}
.main-text {
  font-family: var(--fuente-primaria);
  font-size: 1.5rem;
}
.section-descripcion p {
  cursor: pointer;
  font-size: .8rem;
  padding-right: .5rem;
}
.proff-winner-details p {
  color: var(--color-primario-1);
}
.proff-winner-details p:first-of-type {
  font-size: 1.5rem;
}
.section-text {
  text-align: center;
}

/* Margins */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mb-2 {
  margin-bottom: 1rem;
}

/* Paddings */
.pt-4 {
  padding-top: 2rem;
}

/* Menu de navegación */
.menu {
  background-color: rgb(233, 217, 197);
  box-shadow: 0 0 0.125rem rgb(0 0 0 / 15%);
  position: fixed;
  transition-duration: .5s;
  transition-property: transform, width;
  transition-timing-function: ease;
  width: 0rem;
  z-index: 3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.view {
  background-color: var(--color-secundario-1);
  position: absolute;
  display: block;
  transition: all .5s ease;
}
.show {
  position: static;
}
.hidden {
  transform: translateX(-150rem);
}
footer {
  margin-top: 2rem;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: var(--color-primario-2);
}
footer section {
  display: flex;
  background-color: var(--color-primario-1);
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-direction: column;
}

/* Contenedores */
.main-bg {
  background-image: url("imagenes/bg-1.jpg");
  background-position: center;
  background-size: cover;
  height: 38rem;
  position: relative;
}
.main-bg > div {
  position: absolute;
  top: 8rem;
  left: 10%;
  width: 16rem;
}
.section-descripcion {
  text-align: center;
}
.section-contenedor {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
}
.section-contenedor.afiliados {
  align-items: center;
}
.section-contenedor.equipo {
  padding: 0 .5rem;
}
.bg-secundario {
  background-color: var(--color-secundario-2);
}
.section-contenedor-tittle {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  color: var(--color-primario-2);
}
.section-contenedor.gallery > div {
  padding: 1rem;
  flex: 0 0 50%;
  max-width: 50%;
  height: 20rem;
}
#camisetas.section-contenedor.gallery > div {
  height: 10rem;
}
.gallery.destacada {
  background-color: var(--color-primario-2);
}
.gallery.destacada h4 {
  color: var(--color-secundario-1);
}
.section-contenedor.contacto {
  flex-direction: column;
}
.section-contenedor.story div {
  margin: .5rem;
  padding: .5rem;
  border-radius: 2rem;
  background-color: var(--color-secundario-2);
}
.contacto-info {
  display: block;
  font-size: smaller;
  font-weight: bolder;
}

/* Contenedores del Landingpage */
.landingpage-contenedor {
  margin-bottom: 3rem;
  padding: 3rem .5rem 0 .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.form-contenedor {
  padding: 1rem;
}
.beneficio {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
}
.beneficio p {
  font-size: 1rem;
}
.beneficio i {
  color: var(--color-primario-1);
  margin-right: 1rem;
}
.proff {
  position: relative;
  display: flex;
  align-items: center;
  text-align: start;
  width: 20rem;
  justify-content: center;
}
.proff-winner-details {
  border-radius: 2rem;
  background-color: var(--color-primario-2);
  font-size: 1rem;
  padding: 1rem;
  padding-left: 4rem;
  margin-left: 4rem;
}
.proff-reward-details {
  bottom: 0;
  position: absolute;
  font-weight: bold;
  background: var(--color-primario-1);
  border-radius: 2rem;
  padding: 0.5rem;
  margin: -2rem;
}

/* listas */
nav {
  height: calc(103vh - 248px);
  overflow: hidden auto;
  padding: 1.5rem;
}
.lista-navegacion i {
  margin-right: .2rem;
}
.lista-navegacion li {
  display: flex;
  align-items: center;
  width: 5rem;
  height: 5rem;
  padding-left: .3rem;
  transition: width .5s ease;
}
.section-nav {
  flex-wrap: wrap;
  background-color: var(--color-secundario-1);
  align-items: flex-end;
  padding-left: .5rem;
  padding-right: .5rem;
  display: flex;
  justify-content: space-between;
  position: sticky;
  z-index: 1;
  font-size: .6rem;
  height: 6rem;
  top: 0rem;
  transform: translateY(-5rem);
  transition: all .3s ease-in-out;
}
.section-nav.shownav {
  transform: translateY(0);
}
.section-nav li {
  text-transform: uppercase;
  font-weight: bold;
  padding: .5rem;
  color: var(--color-primario-2);
  border: 0;
  border-style: solid;
  border-bottom-width: .2rem;
  margin-bottom: 0.3rem;
}
.section-nav li.active {
  border-color: #F3C86D;
}
.footer-list {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 1rem 2rem;
  border: 0;
  border-style: solid;
  border-right-width: .2rem;
  text-align: center;
  border-left-width: .2rem;
  border-color: var(--color-primario-2);
}
.footer-list li {
  color: var(--color-primario-2);
  font-size: 1.4rem;
  cursor: pointer;
  line-height: 2.5rem;
}
.footer-rights {
  padding-top: 1rem;
}
.lista-redes {
  display: flex;
  justify-content: space-between;
}
.lista-redes i {
  font-size: 3rem;
}

/* Botones */
.btn-menu {
  display: none;
}
.btn-menu:checked + label {
  margin-left: -1rem;
  left: 13rem;
}
.btn-menu:checked ~ .menu {
  width: 13rem
}
.btn-menu + label {
  position: fixed;
  width: auto;
  top: 1rem;
  left: 1rem;
  transition: left .5s ease;
  z-index: 5;
}
.btn-primario {
  padding: 1.2rem;
  background-color: var(--color-primario-1);
  border: none;
  border-radius: .7rem;
  color: var(--color-primario-2);
  transition: all .2s ease-in;
  width: fit-content;
  outline: none;
  font-size: 1.2rem;
}
.btn-primario:hover {
  background-color: var(--color-primario-2);
  color: var(--color-secundario-1);
}
.btn-primario:hover i {
  color: var(--color-secundario-1);
}
.btn-primario:focus {
  box-shadow: 0 0 .2rem .2rem var(--color-primario-2);
}
.regresar {
  position: fixed;
  right: 1rem;
  top: 1rem;
}
.btn-secundario {
  outline: none;
  font-size: 1.2rem;
  padding: 1.2rem;
  border: none;
  border-radius: .7rem;
  background-color: var(--color-secundario-2);
  color: var(--color-secundario-1);
  transition: all .2s ease-in;
}
.btn-secundario:hover {
  background-color: var(--color-primario-2);
  color: var(--color-secundario-2);
}
button i {
  margin-right: .5rem;
}

/* Formulario */
.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--color-secundario-2);
  border-radius: 2rem;
  padding: 0.5rem;
  margin: 0.5rem;
}
.form button {
  transform: translateY(2rem);
}
.form div {
  position: relative;
  padding: 1rem;
}

/* Inputs */
.form-input {
  width: 100%;
  background-color: transparent;
  border: 0;
  border-style: solid;
  border-bottom-width: .2rem;
  border-color: var(--color-primario-2);
  transition: border-color .2s ease;
  outline: none;
  caret-color: var(--color-primario-1);
  padding: .7rem;
  font-size: 1rem;
}
.form-input:focus {
  border-color: var(--color-primario-1);
}
.form-label {
  position: absolute;
  left: 0;
  padding: 1rem;
  top: 1rem;
  transition: top .5s ease;
}
.form-input:focus + .form-label, .form-input:valid + .form-label {
  top: -1rem;
}

/* Imágenes */
img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}
.gallery.destacada img {
  box-shadow: 0 0 .2rem .2rem var(--color-secundario-1);
}
.landing-img-1 {
  display: none;
}
.winner-img {
  width: 35%;
  position: absolute;
  left: 0;
  z-index: 1;
}
.reward-img {
  width: 14rem;
  transform: rotate(-22deg);
}
.section-contenedor img {
  box-shadow: 0 0 .2rem .2rem var(--color-primario-2);
}

/* Clases rápidas */
.fit-content {
  width: fit-content;
}
.w-100 {
  width: 100%;
}
.col-12 {
  flex: 100%;
  max-width: 100%;
}
.col-8 {
  flex: 0 0 83%;
  max-width: 83%;
}
.col-7 {
  flex: 58%;
  max-width: 58%;
}
.col-6 {
  flex: 50%;
  max-width: 50%;
}
.col-5 {
  flex: 41%;
  max-width: 41%;
}
.col-4 {
  flex: 0 0 25%;
  max-width: 25%;
}

/* Responsive */

@media screen and (min-width: 576px) {
  .form-contenedor h4 {
    font-size: 2.5rem;
  }
  .section-nav {
    font-size: 1rem;
  }
  .section-contenedor.gallery > div {
    flex: 0 0 33%;
    max-width: 33%;
  }
  .section-descripcion {
    display: flex;
    text-align: start;
    justify-content: space-between;
    padding: 2rem;
  }
  .section-contenedor-tittle {
    transform: rotate(-90deg);
    position: absolute;
    left: 3rem;
    transform-origin: 0;
    bottom: 0;
    font-size: 3rem;
    width: auto;
  }
  footer section {
    text-align: center;
    flex-direction: row;
  }
  .form-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .redes {
    padding: .5rem;
    max-width: 100%;
  }
  .lista-redes i {
    font-size: 2rem;
  }
  .section-contenedor.gallery {
    padding-left: 5rem;
  }
  #camisetas.gallery > div {
    flex: 0 0 25%;
    max-width: 25%;
  }
  #viewColection .gallery {
    padding: 1rem 0;
  }
  .section-contenedor.story > div {
    flex: 0 0 41%;
    max-width: 41%;
  }
}

@media screen and (min-width: 768px) {
  .section-contenedor.gallery > div {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-3 {
    flex: 0 0 33%;
    max-width: 33%;
  }
  .col-md-2 {
    flex: 0 0 16%;
    max-width: 16%;
  }
}
@media screen and (min-width: 992px) {
  .footer-list {
    flex: 0 0 33%;
    max-width: 33%;
  }
  .section-contenedor.equipo > div {
    flex-direction: row;
    width: 50%;
  }
  .section-contenedor.contacto {
    flex-direction: row;
  }
  .form-contenedor {
    width: 50%;
  }
  .landingpage-contenedor {
    justify-content: space-between;
    flex-direction: row;
  }
  .landingpage-contenedor.social-proff {
    justify-content: center;
  }
  .beneficio p {
    font-size: 1.2rem;
  }
  .landing-img-1 {
    display: block;
    width: 20%;
    height: 30rem;
  }
}
@media screen and (min-width: 1200px) {
  .main-bg ~ p {
    width: 40rem;
  }
  .btn-menu + label {
    display: none;
  }
  .logo {
    transform: rotate(-90deg);
    transition: all .5s ease;
  }
  nav {
    margin-left: 3rem;
    transition: all .5s ease;
  }
  .menu {
    width: 3rem;
  }
  .menu-text {
    width: max-content;
    opacity: 0;
    margin-left: .7rem;
    transition: opacity .5s ease;
  }
  .menu:hover nav {
    margin-left: 0;
  }
  .menu:hover {
    width: 13rem;
  }
  .menu:hover .logo {
    transform: rotate(0);
  }
  .menu:hover .menu-text{
    opacity: 1;
  }
  .menu:hover li {
    width: 15vh;
  }
  .section-nav {
    height: 4rem;
  }
  .section-contenedor.gallery {
    padding: 1rem 9rem 1rem 9rem !important;
  }
  section, footer {
    padding-left: 3rem;
  }
  .section-descripcion {
    padding-left: 9rem;
  }
  .section-contenedor-tittle {
    left: 10rem;
  }
  #camisetas.gallery > div {
    flex: 0 0 16%;
    max-width: 16%;
  }
  .mx-xl-4 {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}